

<div class="home-search">
  <%= form_tag(search_home_index_path,  method: :get, remote: true) do %>
      <%= text_field_tag 'name','' %>
      <%= submit_tag 'Search' %>
  <%end%>

  <div id="search_result" style="text-align: left;"></div>
</div>
